
# DJANGO_SETTINGS_MODULE=base.settings.production

SECRET_KEY=my-secret-key
DEBUG=True

EMAIL=your-email
PASSWORD=email-password
 
OTP_EMAIL_VERIFY_EXPIRY_TIME=email-verify-expiry-time
OTP_PASSWORD_RESET_EXPIRY_TIM=password-reset-expiry-time

NAME=name-of-database
USER=username-of-database
DB_PASSWORD=password-of-database
HOST=host-of-database
PORT=port-of-database